:root {
    --color-background: white;
    --color-on-background: black;
    --color-background-hover: #eee;
    --color-on-background-hover: black;
    --color-primary: #2e7d32;
    --color-primary-disabled: #1b5e20;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

.dark.root {
    color-scheme: dark;
    --color-background: #1c1b1f;
    --color-on-background: white;
    --color-background-hover: #27262c;
    --color-on-background-hover: white;
    --color-primary: #1b5e20;
    --color-primary-disabled: #1b5e20;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

.shitty.root {
    --color-background: rgba(0, 0, 0, 0.7);
    --color-on-background: white;
    --color-background-hover: #27262c;
    --color-on-background-hover: white;
    --color-primary: #1b5e20;
    --color-primary-disabled: #1b5e20;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}
